.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%; 
    padding: 15px
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }



  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

.required {
  font-size: x-small;
}